<!-- views/partials/3columns.ejs -->
<section name="content">
    <div class="container">
        <h2 class="text-center">Sample Data</h2>
        <div class="col-xs-12 col-md-4">
            <p> Tu jest text. bla bla al fal sldf sldk fslkdf lsdkf sldk fsld flsdf </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <p> Bam bam  bam b bu bu bububububub buuuuuuuuuuuuuuuuuuuu </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <p> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa </p>
        </div>
    </div>
</section>
