<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <!-- content for calc page -->
        <div class="container" id="calc">
            <div class="row">
                <h2 class="text-center">KALKULATOR</h2>
                <!--
                <form action="calc" method="get">
                  <fieldset>
                      <label for="number1">Calculate two numbers:</label>
                      <br />
                      <input type="number" id="number1" name="number1" placeholder="first number" />
                      <br />
                      <input type="text" id="operation" name="operation" placeholder="+, -, *, /" />
                      <br />
                      <input type="number" id="number2" name="number2" placeholder="second number" />
                      <br />
                      <input type="submit" value="Calculate !!" />
                  </fieldset>
                </form>  -->

                <form action="calc" method="post">
                  <fieldset>
                      <br />
                      <br />
                      <label for="number1">real calculator:</label>
                      <br />
                      <input type="number" id="inputNumber" name="inputNumber" placeholder="number here" />
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-primary" formaction="/calc/plus">Add</button>
                      <button type="submit" class="btn btn-primary btn-primary" formaction="/calc/minus">Substr</button>
                      <button type="submit" class="btn btn-primary btn-primary" formaction="/calc/multi">Mult</button>
                      <button type="submit" class="btn btn-primary btn-primary" formaction="/calc/divide">Div</button> 

                      <button type="submit" class="btn btn-primary btn-primary" formaction="/calc/AC">AC(cancel)</button>
                      <button type="submit" class="btn btn-primary btn-danger" formaction="/calc/MS">MStore</button>
                      <button type="submit" class="btn btn-primary btn-danger" formaction="/calc/MC">MClear</button>
                      <button type="submit" class="btn btn-primary btn-danger" formaction="/calc/MPlus">M+</button>
                      <button type="submit" class="btn btn-primary btn-danger" formaction="/calc/MMinus">M-</button>
                      <br />
                      <br />
                      <p>
                        <%= wynik %><h5> 
                      </p>
                      
                      
                      <p> 
                        <h5> memory: </h5>
                        <%= memo %>
                      </p>

                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BSeven">_7_</button>
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BEight">_8_</button>
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BNine">_9_</button>
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BFour">_4_</button>
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BFive">_5_</button>
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BSix">_6_</button>
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BOne">_1_</button>
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BTwo">_2_</button>
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BThree">_3_</button>
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BZero">_0_</button>
                      <button type="submit" class="btn btn-primary btn-default" formaction="/calc/BDot">_._</button>
                      <button type="submit" class="btn btn-primary btn-danger" formaction="/calc/BEquals">_=_</button>
                      <br />
                      <br />
                      
                      <!--
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/divide">Div</button> -->
                  
                      <br />
                      
                      <label for="number1">'web scraping' calculator: (utilizing ecosia.org search engine)</label>
                      <br />
                      <input type="text" id="inputQuery" name="inputQuery" placeholder="operation here" />
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/webquery">Query</button>
                      <br />
                      <br />
                      <p> 
                        <%= wynik2 %>
                      </p>





                  </fieldset>
                </form>
               <!--     
                <form action="" method="post">
                  <fieldset>
                      <br />
                      <br />
                      <label for="number1">'web scraping' calculator:</label>
                      <br />
                      <input type="text" id="inputQuery" name="inputQuery" placeholder="operation here" />
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/webquery">Query</button>
                      <br />
                      <br />
                      <p><br /><br /> 
                        <%= wynik2 %>
                      </p>
                  </fieldset>
                </form> -->

                <div class="col-xs-12"></div>

            </div>
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>
