<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <!-- content for calc page -->
        <div class="container" id="calc">
            <div class="row">
                <h2 class="text-center">KALKULATOR</h2>
                <!--
                <form action="calc" method="get">
                  <fieldset>
                      <label for="number1">Calculate two numbers:</label>
                      <br />
                      <input type="number" id="number1" name="number1" placeholder="first number" />
                      <br />
                      <input type="text" id="operation" name="operation" placeholder="+, -, *, /" />
                      <br />
                      <input type="number" id="number2" name="number2" placeholder="second number" />
                      <br />
                      <input type="submit" value="Calculate !!" />
                  </fieldset>
                </form>  -->

                <form action="calc" method="post">
                  <fieldset>
                      <br />
                      <br />
                      <label for="number1">real calculator:</label>
                      <br />
                      <input type="number" id="inputNumber" name="inputNumber" placeholder="number here" />
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/plus">Add</button>
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/minus">Substr</button>
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/multi">Mult</button>
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/divide">Div</button> 

                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/AC">AC</button>
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/MS">MS</button><!--
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/multi">Mult</button>
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/divide">Div</button> -->
                      <br />
                      
                      <p>
                      <br />
                      <br /> 
                        <%= wynik %>
                      </p>
                      <p><br /> 
                        <h5> memory: </h5>
                        <%= memo %>
                      </p>
                      <br /><br /><br />
                      <br />
                      <label for="number1">'web scraping' calculator:</label>
                      <br />
                      <input type="text" id="inputQuery" name="inputQuery" placeholder="operation here" />
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/webquery">Query</button>
                      <br />
                      <br />
                      <p> 
                        <%= wynik2 %>
                      </p>





                  </fieldset>
                </form>
               <!--     
                <form action="" method="post">
                  <fieldset>
                      <br />
                      <br />
                      <label for="number1">'web scraping' calculator:</label>
                      <br />
                      <input type="text" id="inputQuery" name="inputQuery" placeholder="operation here" />
                      <br />
                      <br />
                      <button type="submit" class="btn btn-primary btn-lg" formaction="/calc/webquery">Query</button>
                      <br />
                      <br />
                      <p><br /><br /> 
                        <%= wynik2 %>
                      </p>
                  </fieldset>
                </form> -->

                <div class="col-xs-12"></div>

            </div>
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>
